<!-- http://127.0.0.1:5000/ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job scrap</title>
</head>

<body>
    <h1>Search Results for "{{keyword}}"</h1>
    {% for job in jobs %}
        <div>
            <span>{{job.title}}</span>
            <span>{{job.company}}</span>
            <span>{{job.link}}</span>
        </div>
    {% endfor %}
    <form action="/search">
        <input type="text" name="keyword" placeholder="write your keyword">
    </form>
</body>
</html>