<!-- http://127.0.0.1:5000/ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job scrap</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
    <main class="container">
        <h1>Search Results for "{{keyword}}"</h1>

        <table role="grid">
            <thead>
                <tr>
                    <th>공고 제목</th>
                    <th>회사명</th>
                    <th>링크</th>
                </tr>
            </thead>

            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{job.title}}</td>
                    <td>{{job.company}}</td>
                    <td><a href="{{job.link}}">바로가기</a></td>
                </tr>
                % endfor %}
            </tbody>
        </table>

        <form action="/search">
            <input type="text" name="keyword" placeholder="write your keyword">
        </form>
    </main>
</body>
</html>