<!-- http://127.0.0.1:5000/ -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job scrap</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
</head>

<body>
    <main class="container">
        <hgroup>
            <h1>Search Results : {{keyword}}</h1>
            <a target="_blank" href="/export?keyword={{keyword}}">Download</a>
        </hgroup>

        <figure>
            <form action="/search">
                <input type="text" name="keyword" placeholder="write your keyword">
            </form>
            <table role="grid">
            <thead>
                <tr>
                    <th>사이트</th>
                    <th>공고 제목</th>
                    <th>회사명</th>
                    <th>지역</th>
                    <th>링크</th>
                </tr>
            </thead>

            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{job.site}}</td>
                    <td>{{job.title}}</td>
                    <td>{{job.company}}</td>
                    <td>{{job.location}}</td>
                    <td><a href="{{job.link}}">link</a></td>
                </tr>
                {% endfor %}
            </tbody>
            </table> 
        </figure>

    </main>
</body>
</html>